<p>Bonjour <%= client %>,</p>
<p>Vous avez reçu un lien de paiement de <strong><%= amount %> FCFA</strong>.</p>
<p>Veuillez cliquer sur le lien suivant pour effectuer le paiement :</p>
<p><a href="<%= paymentLink %>"><%= paymentLink %></a></p>
<p>Merci.</p>
